* {
    margin: 0;
    padding: 0;
}

body {
    background: #27804B;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

h1 {
    color: #fff;
    margin-bottom: 30px;
}

hr {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

a {
    padding: 10px 30px;
    background: #A28AD4;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

a:hover {
    color: #fff;
}

.wrapper {
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
}

.container {
    width: 300px;
    height: 400px;
    margin: 20px auto;
    background-image: url("../img/scream.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.container img {
    border-radius: 5px;
}